[Unit]
Description=Ecowitt nodejs server

[Service]
Environment="MY_PORT=9100"
Environment="HOME=%h"
Type=simple
WorkingDirectory=%h/src/github/ecowitt-service
ExecStart=%h/.local/share/mise/shims/node %h/src/github/ecowitt-service/src/server.js
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target