[Unit]
Description=Ecowitt nodejs server
After=network.target

[Service]
Environment="MY_PORT=9100"
Type=simple
ExecStart=/usr/bin/node /home/stefan/src/github/ecowitt-service/src/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target